---
// src/pages/project/achieve.astro
import BaseLayout from "../../layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Projects - SAMHSA';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<p>
				<span class="intro">
					<strong>SAMHSA System of Care Expansion Grants</strong>
				</span>
			</p>
			<p>
				<span class="intro">
					The Center for Human Services Research (CHSR) was awarded
						new grants by Substance Abuse and Mental Health Services Administration (SAMHSA).
				</span>
			</p>
			<p>
				<span class="intro">
					<strong>Evaluation &amp; Research</strong>
				</span>
			</p>
			<p>
				The Center for Human Services Research (CHSR) will conduct the evaluations for
				two new grants by SAMHSA for System of Care implementation and expansion in New York State and Cayuga
				County, NY. The New York State project will focus on piloting high fidelity wraparound and integration
				with Health Homes in three NYS counties: Westchester, Erie, and Rensselaer. Whereas, the Cayuga County
				project will focus on System of Care expansion and new and expanded services within Cayuga County. CHSR
				will be awarded $2,434,662.00 for conducting the evaluation portion of these grants, over 4 years.
			</p>
			<p>
				For more information, contact <a href="cbarnes.shtml">Camille Barnes, Ph.D.</a>
			</p>
			
			<h2>Reports</h2>
			<p>
				<a href="Publications/TWDRB_january_2020.pdf">
					<img src="images/reports/TWDRB__January_2020.png" width="136" height="176" alt="" />
				</a>
				<br />
				<a href="Publications/HFWPRB__short_November_2019.pdf">
					<img src="images/reports/HFWPRB__short_November_2019.png" width="136" height="176" alt="" />
				</a>
			</p>
		</div>
	</main>
</BaseLayout>