---
// src/pages/project/albanycountyequity.astro
import BaseLayout from "../../layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Projects - Albany County Equity';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<p>
				<span class="intro">
					<strong>Albany County Equity Agenda</strong>
				</span>
			</p>
			<p>
				<span class="intro">
					The Center for Human Services Research (CHSR) is assisting
						<a href="http://www.albanycounty.com" target="_blank">Albany County</a>
						in developing an Equity Agenda Strategic Plan.
				</span>
			</p>
			<p>
				<span class="intro">
					<strong>Evaluation &amp; Research</strong>
				</span>
			</p>
			<p>
				The purpose of this project is to assist Albany County in developing a
				county-wide equity agenda. CHSR staff gather and analyze county-wide data to identify areas of inequity
				related to service provision and workforce representation. Through a collaboration with Dr. Salome
				Raheim from the University at Albany School of Social Welfare, CHSR staff members are also providing
				training and technical assistance to assist Albany County department leadership in defining goals and
				strategies to address the underlying causes of inequities within the county. The goal of this project is
				to develop a strategic plan that will reduce barriers in service provision, facilitate the creation of a
				more representative county workforce, and further identify areas of focus.
			</p>
			<p>
				For more information, contact 
				<a href="eberical.shtml"><strong>Erin Berical</strong></a>
			</p>


			<h2>Reports</h2>
			<p>
				<a href="reports/Albany County Equity Agenda 2019_Strategic Planning Full Report_Final.pdf">
					<img src="images/albanyequity_report.jpg" width="136" height="176" alt="" />
				</a>
				<br />
				<a href="reports/Albany County Equity Agenda 2019_Strategic Plan Poster_Final.pdf">
					<img src="images/albanyequity_onepage.jpg" width="136" height="176" alt="" />
				</a>
			</p>
		</div>
	</main>
</BaseLayout>