---
// src/pages/project/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Projects';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>Project Areas &nbsp;<span style="font-size:.8em; font-style:italic;font-style: italic;"></span></h1>
			
			<h2>Education &amp; Early Childhood Development</h2>

			<p style="font-size:14px;">CHSR’s expertise in evaluations of education and early childhood development
				include both process and outcome studies. We work closely with the Albany City School District to inform
				and assess the implementation of new initiatives. We also partner with local and state organizations to
				evaluate training and professional development programs.
			</p>
			<h3>Active Projects</h3>
			<ul>
				<li>
					<strong><a href="/preschooldev">New York State Birth Through Five Preschool Development Grant</a></strong>
				</li>
			</ul>
			
			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/21stcentury">21st Century Community Learning Centers</a></strong></li>
				<li><strong><a href="/SIG">Albany School Improvement Grant Program Evaluation</a></strong></li>
				<li><strong><a href="/mybrokeep">My Brother’s Keeper Challenge Grant (MBKCG)</a></strong></li>
				<li><strong><a href="/cityschdata">The City of Albany School District Data Analysis</a></strong></li>
			</ul>

			<p>
				<a href="//completed_projects" target="_top"> More Completed Projects Here</a>
			</p>

			<h2>Children, Family, &amp; Elder Services</h2>
			<p style="font-size:14px;">CHSR’s work in the area of children and familiy services includes evaluation
				and research, and systems and software development for two statewide Healthy Families America programs.
				Additional projects in this area reflect our expertise in evaluations of programs designed to strengthen
				families and enhance interagency collaboration in the provision of services.
			</p>

			<h3>Active Projects</h3>
			<ul>
				<li><a href="/emdt"><strong>E-MDT Initiative Preliminary Evaluation</strong></a></li>
				<li><a href="/hfnj"><strong>Healthy Families New Jersey Evaluation</strong></a></li>
				<li><strong><a href="/hfny">Healthy Families New York Evaluation</a></strong></li>
				<li><strong><a href="/is_for_prevention_programs">Information System for Prevention Programs</a></strong></li>
				<li><strong><a href="/nyskinship">Kinship Navigator</a></strong></li>
				<li><strong><a href="/nytd">The National Youth in Transition Database (NYTD)</a></strong></li>
			</ul>

			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/frc">Evaluation of New York State Family Resource Centers</a></strong></li>
				<li><strong><a href="/csp-dv"> Evaluation of CPS/DV Collocation</a></strong></li>
				<li><strong><a href="/adolescentpregnancyservices">Adolescent Pregnancy &amp; Prevention Services</a></strong></li>
				<li><strong><a href="/albcntyeval">Albany County Human Services Department Evaluation</a></strong>
				</li>
			</ul>
			<p>
				<a href="/completed_projects" target="_top"> More Completed Projects Here</a>
			</p>

			<h2>Health Care Services</h2>
			<p style="font-size:14px;">CHSR’s work in the area of health care evaluations of programs designed to
				assist and enhance the development of healthy lifestyles. Our portfolio includes assessments of eating
				habits and access to nutritious foods, and access to health care services, including mental health care.
			</p>
			<h3>Active Projects</h3>
			<ul>
				<li><strong><a href="/DSRIP">Delivery System Reform Incentive Payment Program (DSRIP)</a></strong></li>
				<li><strong><a href="/rochopioid">Greater Rochester Opioid Prevention</a></strong></li>
			</ul>

			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/assessmenthealthservicesforveterans">Assessment of Health Services for
							Veterans in Rural Upstate New York</a></strong></li>
				<li><strong><a href="/coe">Center of Excellence for Maternal and Infant Health</a></strong></li>
				<li><strong><a href="/echo">ECHO Collaborative</a></strong></li>
				<li><strong><a href="/opwdd">OPWDD Direct Care Employee Trust Survey</a></strong></li>					
			</ul>
			<p>
				<a href="/completed_projects" target="_top">More Completed Projects Here</a>
			</p>

			<h2>Behavioral Health</h2>
			<p style="font-size:14px;">CHSR works with agencies and organizations across the state on investigative
				studies designed to inform and educate communities and improve mental wellness conditions for adults,
				adolescents and children.
			</p>

			<h3>Active Projects</h3>
			<ul>
				<li><strong><a href="/anvdvap">Addressing the Needs of Victims of Domestic Violence in Housing
							Programs</a></strong></li>
				<li><strong><a href="/pfs">Partnership for Success</a></strong></li>
				<li><strong><a href="/achieve">SAMHSA System of Care Expansion Grants</a></strong></li>
			</ul>

			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/system_care_albany">Albany County, New York System of Care
							Evaluation</a></strong></li>
				<li><strong><a href="/adolescentmobilecrisisteamevaluation">Capital Region Child and Adolescent
							Mobile Team Evaluation</a></strong></li>
				<li><strong><a href="/ccsi">Coordinated Children's Service Initiative (CCSI)
							Evaluation</a></strong></li>
				<li><strong><a href="/nysuccess">New York State Success</a></strong></li>
			</ul>

			<p>
				<a href="/completed_projects" target="_top"> More Completed Projects Here</a>
			</p>

			<h2>Economic &amp; Community Development</h2>
			<p style="font-size:14px;">CHSR’s scope of work in Economic and Community Development covers a diverse
				range of topics that have shaped successful partnerships with organizations such as the NYS Department
				of Health and the Corporation for National and Community Service in an effort to identify strengths,
				challenges and best practices. We collect, research and evaluate data using multiple methods that
				include qualitative, process and outcome studies.
			</p>
			<h3>Active Projects</h3>
			<ul>

				<li><strong><a href="/capri">Capital Area Poverty Reduction Initiative (CAPRI)</a></strong></li>
				<li><strong><a href="/mrt">MRT Supportive Housing Initiative</a></strong></li>
			</ul>

			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/wage_center">&nbsp;Evaluation of the Wage Center</a></strong></li>
				<li><strong><a href="/albanycountyequity">Albany County Equity Agenda</a></strong></li>
				<li><a href="/seed"><strong>Evaluation of the SEED Program</strong></a></li>
				<li><strong><a href="/nyshcr">Qualitative Research on Housing Needs of Grandfamilies</a></strong>
				</li>
			</ul>

			<p>
				<a href="/completed_projects" target="_top"> More Completed Projects Here</a>
			</p>

			<h2>Criminal Justice, Juvenile Justice, &amp; Youth Development</h2>
			<p style="font-size:14px;">CHSR’s portfolio includes process and outcome studies of local and state
				initiatives designed to address the impact of juvenile justice programs on youth. We conduct evaluations
				of prevention programs as well as models of organizational and systems change.
			</p>
			<h3>Active Projects</h3>
			<ul>
				<li><strong><a href="/jdai_project">Albany County Juvenile Detention Alternatives Initiative
							(JDAI)</a></strong></li>
				<li><strong><a href="/syep_2019">Evaluation of the Summer Youth Employment Program</a></strong>
				</li>
				<li><strong><a href="/tnvsp">Training Needs of Victim Service Providers</a></strong></li>
				<li><strong><a href="/vland1">Victim Legal Assistance Network Development</a></strong></li>
			</ul>

			<h3>Completed Projects</h3>
			<ul>
				<li><strong><a href="/herjustice">Her Justice</a></strong></li>
				<li><strong><a href="/innovaserv">Innovations in Victim Services for Underserved
							Populations</a></strong></li>
				<li><strong><a href="/rurallawinit">Rural Law Initiative Collaboration</a></strong></li>
				<li><strong><a href="/acca">Re-Entering the Albany Community through Treatment (REACT)
							Evaluation</a></strong></li>
			</ul>

			<p><a href="/completed_projects" target="_top"> More Completed Projects Here</a></p>

		</div>
	</main>
</BaseLayout>