---
// src/pages/completed_projects.astro
import BaseLayout from "../layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Completed Projects';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>Evaluation and Research Projects</h1>
			<h2>Education & Early Childhood Development</h2>

			<h3>Completed Projects</h3>
			<ul id="eecdev">
				<!--<li><strong><a href="21stcentury-ER.shtml">21st Century Community Learning Centers</a></strong></li>-->
				<li><strong><a href="promise_evaluation.shtml">Albany Promise Evaluation</a></strong></li>
				<li><strong><a href="Chemung_Co_School_Readiness-ER.shtml">Chemung County School Readiness
							Project</a></strong></li>
				<li><strong><a href="legally_exempt_child_care-ER.shtml">A Study of Legally Exempt Child Care in Albany
							County</a></strong></li>
				<!--<li><strong><a href="cityschdata - ER.shtml">The City of Albany School District Data Analysis</a></strong></li>-->
				<li><a href="MagnetSchoolAssistanceProgram-ER.shtml"><strong>Magnet School Assistance Program
								Evaluation</strong></a><strong></strong></li>
				<li><strong><a href="Childcare_Workforce_Development-ER.shtml">New York State Child Care Workforce
							Development Evaluation</a></strong></li>
				<li><strong><a href="NYS_Ready_to_Learn-ER.shtml">New York State: Ready to Learn Evaluation</a></strong>
				</li>
				<li><strong><a href="SSHS-ER.shtml"> Safe Schools/Healthy Students Evaluation</a></strong></li>
				<li><strong><a href="urbanedge-ER.shtml">Urban Edge</a></strong></li>
			</ul>

			<h2>Children & Family Services</h2>
			<h3>Completed Projects</h3>

			<ul id="cfs">
				<li><strong><a href="Mentoring_for_Change-ER.shtml">Northeast Parent &amp; Child Society Mentoring for
							Change Program Evaluation</a></strong></li>
				<li><strong><strong><a href="family_assessment_response.shtml">Family Assessment Response
								Evaluation</a></strong></strong></li>
				<li><strong><a href="icp.shtml">Integrated County Planning Evaluation</a></strong></li>
				<li><strong><a href="csp-dv-ER.shtml"> Evaluation of CPS/DV Collocation</a></strong></li>
				<li><strong><a href="Mentoring_for_Change-ER.shtml">Northeast Parent &amp; Child Society Mentoring for
							Change Program Evaluation</a></strong></li>





			</ul>
			
			<h2>Health Care Services</h2>
			<h3>Completed Projects</h3>

			<ul id="hcs">
				<li><strong><a href="echo_er.shtml">ECHO Collaborative</a></strong></li>
				<li><strong><a href="DSRIP - ER.shtml">Delivery System Reform Incentive Payment Program
							(DSRIP)</a></strong></li>
				<li><strong><a href="rochopioid.shtml">Greater Rochester Opioid Prevention</a></strong></li>


				<li><strong><a href="ARHNSurvey - ER.shtml">Adirondack Rural Health Network Online Survey</a></strong>
				</li>
				<li><strong><a href="AssessmentHealthServicesforVeterans-ER.shtml">Assessment of Health Services for
							Veterans in Rural Upstate New York</a></strong></li>
				<li><strong><a href="Community Nutrition Assessment-er.shtml">Community Nutrition Assessment</a></strong>
				</li>
				<li><strong><a href="COE - ER.shtml">Center of Excellence for Maternal and Infant Health
							(COE)</a></strong></li>

				<li><strong><a href="calorie_posting-ER.shtml">Menu Labeling Evaluation</a></strong></li>
				<li><strong><a href="NYScommfortheblind - ER.shtml">New York State Commission for the Blind</a></strong>
				</li>
				<li><strong><a href="OPWDD-ER.shtml">OPWDD Direct Care Employee Trust Survey</a></strong></li>
				<li><strong><a href="timeandmotion - ER.shtml">OPWDD Time and Motion Study</a></strong></li>
				<li><strong><a href="Understanding_Barriers_to_Food_Stamps-ER.shtml">Understanding Barriers to Obtaining
							Food Stamps</a></strong></li>
				<li><strong><a href="er_study-ER.shtml">Upstate New York Emergency Department Study</a></strong></li>
				<li><strong><a href="validation-ER.shtml">Validation of the Coordinated Assessment System Tool
						</a></strong></li>
			</ul>

			<h2>Behavorial Health</h2>
			<h3>Completed Projects</h3>

			<ul id="bh">
				<li><strong><a href="pfs - ER.shtml">Partnership for Success</a></strong></li>
				<li><strong><a href="achieve -ER.shtml">SAMHSA System of Care Expansion Grants</a></strong></li>

				<li><strong><a href="system_care_albany-ER.shtml">Albany County, New York System of Care
							Evaluation</a></strong></li>
				<li><strong><a href="child_psychiatry-ER.shtml">Assessing &amp; Addressing the Need for Child &amp;
							Adolescent Psychiatrists in New York State</a></strong></li>
				<li><strong><a href="AdolescentMobileCrisisTeamEvaluation-ER.shtml">Capital Region Child &amp; Adolescent
							Mobile Crisis Team Evaluation</a></strong></li>
				<li><strong><a href="ccsi-ER.shtml">Coordinated Children's Service Initiative (CCSI)
							Evaluation</a></strong></li>

				<li><a href="TheNYSCollocationDemonstrationProject - ER.shtml"><strong>Evaluation of the New York State
							Collocation Demonstration Project</strong></a></li>
				<li><strong><a href="NYSUCCESS - ER.shtml">New York State Success</a></strong></li>
				<li><strong><a href="system_care_orange-ER.shtml">Orange County, New York System of Care
							Evaluation</a></strong></li>
				<li><strong><a href="Spring for Hope-ER.shtml">Spring for Hope Evaluation</a></strong></li>
			</ul>

			<h2>Economic & Community Development</h2>
			<h3>Completred Projects</h3>

			<ul id="ecd">
				<li><strong><a href="MRT-ER.shtml">MRT Supportive Housing Initiative</a></strong></li>
				<li><strong><a href="AmeriCorpsVolunteerGenerationEvaluation-ER.shtml">Evaluation of New York's AmeriCorps
							Volunteer Generation Initiative</a></strong></li>
				<li> <strong><a href="PATH - er.shtml">Evaluation of People Advancing through Treatment and Housing
							(PATH)</a></strong></li>
				<li><a href="SEED-ER.shtml"><strong>Evaluation of the SEED Program</strong></a></li>
				<li><strong><a href="NYSHCR-ER.shtml">Qualitative Research on Housing Needs of Grandfamilies</a></strong>
				</li>
			</ul>

			<h2>Criminal Justice/Juvenile Justice/Youth Development</h2>
			<h3>Completed Projects</h3>

			<ul id="cj">
				<li><strong><a href="CPRB.shtml">Albany Citizen's Police Review Board (CPRB)</a></strong></li>
				<li><strong><a href="domesticviolenceHP.shtml">Domestic Violence Homicide Prevention
							Initiative</a></strong></li>
				<li><strong><a href="Front_End_Juvenile_Justice.shtml">Front End Juvenile Justice Reform
							Initiative</a></strong></li>
				<li><strong><a href="OJJDPYPI.shtml">North American Family Institute's Youth and Police
							Initiative</a></strong></li>
				<li><strong><a href="NYC_Anti-Violence_Project.shtml">NYC Anti-Violence Project Capacity Building
							Initiative </a></strong></li>
				<li><strong><a href="projectgrowth.shtml">Project Growth</a></strong></li>
				<li><strong><a href="DomesticViolenceHomeVisit.shtml">Police Domestic Violence Follow-up Home Visiting
							Program</a></strong></li>
				<li><strong><a href="sanctuary.shtml">Sanctuary Model Outcome Evaluation</a></strong></li>
				<li><strong><a href="ACCA.shtml">Re-Entering the Albany Community through Treatment (REACT)
							Evaluation</a></strong></li>
				<li><strong><a href="UnderstandingParentEngagementtoEnhanceMentoringOutcomes.shtml">Understanding Parent
							Engagement to Enhance Mentoring Outcomes</a></strong></li>

			</ul>
		</div>
	</main>
</BaseLayout>