---
// src/pages/index.astro
import BaseLayout from "../Layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Contact Us';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<div class="text-place" style="margin-bottom: 10px;">
				<h2> CONTACT US</h2>
				<p>
				<h3>Center for Human Services Research</h3>
				<p><strong>Richardson Hall 315</strong><br />
					135 Western Avenue<br />
					Albany, NY 12222<br />
					Phone: (518) 591-8615
					<br />
					Fax: (518) 442-5732
				</p>
				<p>Email: <a href="mailto:chsr@albany.edu">chsr@albany.edu</a> </p>
				<p>
				<h3>You may also contact a specific staff person responsible for a project by looking at the <a
						href="/project_areas">Project Areas</a> web page or <a
						href="/staff">Staff Directory</a>.</h3>
				</p>
				<p><strong><a href="/staff">CHSR Staff Directory</a></strong></p>
				<p><strong>Office Hours<br />
					</strong>8:00 AM to 4:00 PM<br />
					Monday through Friday</p>
				</p>
			</div>

			<p>&nbsp;</p>
			<h2> LOCATION</h2>
			<div style="width: 100%">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.5186990960156!2d-73.77330609632533!3d42.6602761092127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a49de4e7b61%3A0xd7477407cb0a8b3c!2sUniversity%20at%20Albany%20Downtown%20Campus!5e0!3m2!1sen!2sus!4v1586876035337!5m2!1sen!2sus"
					width="520" height="650" frameborder="0" style="border:1;" allowfullscreen="" aria-hidden="false"
					tabindex="0">
				</iframe>
			</div>
		</div>
	</main>
</BaseLayout>