---
// src/pages/index.astro
import BaseLayout from "../Layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Content Areas';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>Content Areas</h1>
			<div class="text-place">
				<p>
					CHSR has expertise and conducts research in the following content areas:
				</p>
				<h2> Behavioral Health Services</h2>
				<p>
					CHSR works with agencies and organizations across the state on investigative studies designed to inform
					and educate communities and evaluate program implementation to improve behavioral health for adults,
					adolescents, and children. For example, CHSR has evaluated multiple SAMHSA System of Care expansion
					grants
					throughout NYS, conducting both implementation, fidelity, and outcome evaluations. Services provided
					have
					included conducting services observations, documentation review, stakeholder interviews, statewide and
					local surveys, and the development of case and program management software.
					<i>SAMHSA System of Care Expansion Grants</i>
				</p>
				<h2> Children, Family, &amp; Elder Services</h2>
				<p>
					CHSR’s work in the area of children and family services includes ongoing evaluation and research and
					systems and
					software development for Healthy Families New York, a statewide child abuse and neglect prevention
					program. Additional
					projects in this area reflect our expertise in evaluations of programs designed to strengthen families,
					prevent and
					respond to elder abuse, and enhance interagency collaboration in the provision of services.
					<i>Healthy Families New York Evaluation</i>
				</p>

				<h2> Criminal &amp; Juvenile Justice, Services</h2>
				<p>
					CHSR’s portfolio addresses the impact of initiatives designed to support victims of crime the providers
					who serve them.
					Our work includes needs assessments, training evaluations, and outcome studies. CHSR also conducts
					process
					and outcome
					studies of local and state initiatives designed to impact youth involvement in the juvenile and criminal
					justice
					systems.
					<i>Victim Legal Assistance Network Development</i>
					<i>Albany County Juvenile Justice Coordination and Research</i>
				</p>

				<h2> Equity-Focused Evaluation</h2>
				<p>
					CHSR works with groups focused on improving systems and structures to ensure equity in client access,
					service delivery,
					and outcomes. For example, CHSR has partnered with administrative and faculty groups conducting
					self-studies within
					UAlbany, and with external partners examining issues and topics across local, national, and
					international
					systems.
					<i>Albany County Equity project</i>
					<i>HHMI Self-Study</i>
				</p>

				<h2> Education &amp; Early Childhood Development</h2>
				<p>
					CHSR’s expertise in evaluations of education and early childhood development includes both process and
					outcome studies.
					We work with school districts and the early childhood care and education system to inform and assess the
					implementation
					of new and existing initiatives. We also partner with local and state organizations to evaluate training
					and
					professional development programs.
					<i>NYSB5 Preschool Development Grant</i>

				</p>

				<h2> Health &amp; Healthcare Services</h2>
				<p>
					CHSR’s work in the area of healthcare includes evaluations of programs designed to assist and enhance
					both
					access to
					healthcare services, including housing, mental health care, and overdose recovery services; and the
					development of
					healthy lifestyles, such as healthy eating habits and access to nutritious foods.
					<i>DSRIP (Delivery System Reform Incentive Payment Program)</i>
					<i>MRT Supportive Housing Initiative</i>
				</p>

				<h2> Project Archive</h2>
				<p>
					To learn more about CHSR’s past or current projects, please visit our
					<a class="paragraph-text-link" href="/projects">Project Archive</a>.
				</p>
			</div>
		</div>	
	</main>
</BaseLayout>