---
// src/pages/index.astro
import BaseLayout from "../Layouts/BaseLayout.astro"
let title = '>Center for Human Services Research - University at Albany - SUNY - Home';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h2>Center For Human Services Research</h2>
			<p>
				The Center for Human Services Research (CHSR) has over 30 years of experience in 
				social service research and evaluation. CHSR is dedicated to developing 
				empirically-based knowledge to improve the design and delivery of services that 
				address social issues and meet community needs in the Capital region, across New 
				York State, and across the United States. We conduct evaluation research and 
				design information systems to inform policymakers and service providers across a 
				broad spectrum of fields serving vulnerable and marginalized populations using 
				our sophisticated research, technical, and management skills. CHSR values 
				integrity in its work and is dedicated to providing timely, accurate, and 
				non-partisan information to guide best practice in the human services.
			</p>
			<p>
				CHSR also houses the Data Management and Analytics Center (DMAC), which 
				supports University at Albany researchers by providing consulting and more 
				extensive services for analytical, survey design and implementation, research 
				and methodology, and research technology needs. For more information about 
				DMAC, please visit <a class="paragraph-text-link" href="/dmac/about">DMAC</a>.
			</p>

			<h2>OUR WORK</h2>
			<p>
				CHSR areas of inquiry and expertise cover a wide range of topics including 
				education and early childhood development; children, family, and elder 
				services; health behavior and services; economic and community development; 
				and criminal and juvenile justice; for more information, see 
				<a class="paragraph-text-link" href="/content_areas">Content Areas</a>. 
				Our staff are skilled at qualitative and quantitative evaluation and research, 
				program development, and system and software development; for more information, 
				see <a class="paragraph-text-link" href="/skills_expertise">Skills &amp; Expertise</a>. 
				CHSR has developed significant partnerships with several University entities
				and with government offices and non-profit service providers throughout New York 
				State, and has written successful grant applications for local, state, and federal 
				funding.
			</p>
			<p>
				For more information on CHSR’s past and current projects, please visit our
				<a class="paragraph-text-link" href="/project_areas">project archive</a>.
			</p>
		</div>
	</main>
</BaseLayout>
