---
// src/pages/publications.astro
import BaseLayout from "../layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Publications';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>Publications, Reports, &amp; Presentations &nbsp;<span
					style="font-size:.8em; font-style:italic;font-style: italic;"></span></h1>
			<p style="font-size:14px;">Since 1991, CHSR has produced many publications, reports, and presentations for
				its funders:</p>
			<!-- news block -->
			<div class="text-place">
				<p style="font-size:14px;">
				</p>

				<h2> Publications:</h2>
				<ul>
					<li><a href="Publications/BHN-Winter2020_p18.pdf" target="_blank"><strong>Early Findings From a
								Tri-County Collaborative Approach to Addressing the Opioid Crisis </strong></a> <br />
						Sandra McGinnis, PhD, and Thomas M. LaPorte, Ph.D.
						(<em>Behavioral Health News, Winter&nbsp; 2020, page 18</em>)</li>
					<br />
					<li><a href="Publications/McGoron_Riley_Scaramella_2020.pdf" target="_blank"><strong>Cumulative
								socio-contextual risk and child abuse potential in parents of young children: Can social support
								buffer the impact?<br />
							</strong></a> Lucy McGoron, Ph.D., Moira R. Riley, Ph.D., Laura V. Scaramella, Ph.D., (<em>Child
							&amp; Family Social Work, June 2020</em>)</li>
					<br />
					<li><a href="Publications/sustainedimpact_2020.pdf" target="_blank"><strong>Sustained Impact on
								Parenting Practices: Year 7 Findings from the Healthy Families New York Randomized Controlled
								Trial<br />
							</strong></a> Kristen Kirkland, MSW, Eunju Lee, Ph.D., Carolyn Smith, Ph.D., Rose Greene, MA
						(<em>Prevention Science,, Volume 21, May 2020</em>)</li>
					<br />
					<li><a href="Publications/BHN-Summer2019_p26.pdf" target="_blank"><strong>The Impact of Youth Peer
								Advocates: An Early Look at Findings</strong></a> <br />
						Darren Cosgrove, LMSW, Thomas M. LaPorte, Ph.D., Margaret Gullick, Ph.D.
						(<em>Behavioral Health News, Summer 2019, page 26</em>)</li>
					<br />
					<li><a href="https://link.springer.com/article/10.1007/s10560-018-0562-4"
							target="_blank"><strong>Engaging At-Risk Fathers in Home Visiting Services: Effects on Program
								Retention and Father Involvement</strong></a> <br />
						Sandra McGinnis, Ph.D, Rose Greene, MA, Kristen Kirkland, MSW, PhD, Claudia Miranda-Julian, MSSW,
						Ph.D., Carolyn Smith, Eunju Lee, Ph.D.
						(<em>Child and Adolescent Social Work Journal, July 2019</em>)</li>
					<br />
					<li><a href="Publications/reducingmaltreatmentthroughhv.pdf" target="_blank"><strong>Reducing
								Maltreatment Recurrence Through Home Visitation: A promising intervention for child welfare
								involved families<br />
							</strong></a> Eunju Lee, Ph.D., Kristen Kirkland, MSW, Ph.D., Claudia Miranda-Julian, MSSW, Ph.D.,
						Rose Greene, MA (<em>Child Abuse & Neglect: The International Journal, Volume 86, Dec 2018</em>)</li>
					<br />
					<li><a href="https://www.tandfonline.com/doi/full/10.1080/01634372.2018.1454566"
							target="_blank"><strong>Housing Needs of Grandparent Caregivers: Grandparent, Youth, and
								Professional Perspectives</strong></a> <br />
						Lauren Polvere, Ph.D., Camille Barnes, Ph.D., Eunju Lee, Ph.D.
						(<em>Journal of Gerontological Social Work on Taylor & Francis Online, Mar 2018</em>)</li>
					<br />
					<li><a
							href="Publications/ImplementationandOutcomesofanInnovativeFrontEnd uvenileJusticeReformInitiative.pdf"
							target="_blank"><strong>Implementation and Outcomes of an Innovative Front End
								Juvenile Justice Reform Initiative</strong></a> <br />
						Susan Ehrhard-Dietzel, Ph.D., Michael S. Barton, Darien A. Hickey
						(<em>Child and Adolescent Social Work Journal 2017</em>)</li>

					<br />
					<li><a href="Publications/HVBFpaper092017.pdf" target="_blank"><strong>Let’s Talk About Breastfeeding:
								The
								Importance of Delivering a Message in a Home Visiting Program</strong></a> <br />
						Sandra McGinnis, PhD, Eunju Lee, PhD, Kristen Kirkland, PhD,Claudia Miranda-Julian, PhD, and Rose
						Greene, MA - (<em>American Journal of Health Promotion 2017</em>)</li>
					<br />
					<li><a href="Publications/childrenyouthservicereview071916.pdf" target="_blank"><strong>Parenting Stress
								of Grandparents and Other Kin as Informal Kinship
								Caregivers</strong></a> <br />
						Eunju Lee, Yeonggeul Lee, Michael Clarkson-Henderix - (<em>Children and Youth Services Review July
							2016</em>)</li>
					<br />
					<li><a href="Publications/childrenyouthservicereview071916part2.pdf" target="_blank"><strong>Validating
								the Family
								Needs Scale</strong></a> &nbsp;<br />
						Eunju Lee, Mi Jin Choi, Michael Clarkson-Henderix - (<em>Children and Youth Services Review - January
							2016</em>)</li>
					<br />

				</ul>
				<h3><a href="/archived_publications"><strong>Archived Publications (1991-2015)</strong></a></h3>

				<p><a href="#" target="_top">Back to top </a></p>
				<h2><a name="reports" id="reports"></a>Reports and Research Briefs:</h2>
				<ul>
					<li><a href="Publications/HFW_Medicaid_RB.pdf" target="_blank"><strong>FAMILY OUTCOMES & MEDICAID
								RESEARCH BRIEF: High Fidelity Wraparound Participation Significantly Reduces Residential
								Treatment Facility Spending </strong></a> <br />
						(<em>Research Brief, November 2020</em>)<br />
						<br />
					</li>

					<li><a href="Publications/NYS_SOC_Year_4_Report_final.pdf" target="_blank"><strong>New York State
								Systems of Care Year Four Report</strong></a> <br />
						(<em>Report, November 2020</em>)<br />
						<br />
					</li>

					<li><a href="Publications/SOC_Implementation_Report_2020_final.pdf" target="_blank"><strong>System of
								Care Implementation in New York State</strong></a> <br />
						(<em>Report, June 2020</em>)<br />
						<br />
					</li>

					<li><a href="Publications/SOC_Development_Research_Brief.pdf" target="_blank"><strong>SYSTEM OF CARE
								DEVELOPMENT RESEARCH BRIEF: <br />
								Examining Implementation of Strategic Plans across New York State</strong></a> <br />
						(<em>Research Brief, May 2020</em>)<br />
						<br />
					</li>

					<li><a href="Publications/Cayuga_County_Report_Year_Three.pdf" target="_blank"><strong>Cayuga County
								Families Access to Services Team Year Three</strong></a> <br />
						(<em>Report, April 2020</em>)<br />
						<br />
					</li>

					<li><a href="Publications/TWDRB_january_2020.pdf" target="_blank"><strong>Identifying Enhancements to
								HFW Training, Coaching, and Supervision</strong></a> <br />
						(<em>Research Brief, January 2020</em>)<br />
						<br />

					</li>
					<li><a href="Publications/Her_Justice_NYCT_Final_Report.pdf" target="_blank"><strong>HER JUSTICE: New
								York Community Trust Access to Justice Project - Final Report </strong></a> <br />
						(<em>Report, December 2019</em>)<br />
						<br />
					</li>

					<li><a href="Publications/syep_november_2019.pdf" target="_blank"><strong>Evaluation of the City of
								Albany Summer Youth Employment Program<br />
							</strong></a> (<em>Evaluation, November 2019</em>)</li>
					<br />
					<li><a href="Publications/HFWPRB__short_November_2019.pdf" target="_blank"><strong>Factors Associated
								with Time to first Child and Family Team Meeting </strong></a> <br />
						(<em>Research Brief, November 2019</em>)</li><br />

					<li><strong><a
								href="Publications/Albany County Equity Agenda 2019_Strategic Planning Full Report_Final.pdf">Albany
								County Strategic Plan-Report (2019-2024)</a></strong> <br />
						(October 2019)<br />
						<br />
					<li><strong><a
								href="Publications/Albany County Equity Agenda 2019_Strategic Plan Poster_Final.pdf">Albany County
								Strategic Plan-Poster (2019-2024)</a></strong> <br />
						(October 2019)<br />
						<br />
					</li>
					<li><strong><a href="https://www.ccf.ny.gov/files/4915/7773/1159/nysb5_na_report.pdf">New York State
								Birth Through Five (NYSB5) Preschool Development Grant Needs Assessment Report</a></strong> <br />
						(October 2019)<br />
						<br />
					</li>
					<li><strong><a href="reports/echo_project.pdf">end+disparities ECHO Collaborative Intermediate
								Implementation Evaluation Final Report</a></strong> <br />
						(August 2019)<br />
						<br />
					</li>
					<li><a href="Publications/syep_august_2019_brief.pdf" target="_blank"><strong>Albany’s Summer Youth
								Employment Program (SYEP) Improves Graduation
								Rates Among At-Risk Youth</strong></a> <br />
						(<em>Research Brief, August 2019</em>)</li>
					<br />
					</li>
					<li><a href="reports/dsrip_08_2019.pdf" target="_blank"><strong>Delivery System Reform Incentive Payment
								Program (DSRIP): Final Interim Evaluation Report</strong></a> <br />
						Wendy Weller, Ph.D., Keegan Bailey, M.S., Soumyadeb Chatterjee, M.S., Sarah Drazek, M.S., Rose Greene,
						M.A., Margaret Gullick, Ph.D., Kajal Lahiri, Ph.D., Erika Martin, Ph.D., Young Joo Park, Ph.D., Sarah
						Rain, M.S., Dylan Roby, Ph.D., Amanda Rozsavolgyi, M.S.Ed. (August 2019)<br />
						<br />
					</li>

					<li><strong><a href="Publications/2018-final_eval_rpt.pdf">NYS Delivery System Reform Incentive Payment
								(DSRIP) Program 2018 Annual Report<br />
							</a></strong>(December 2018)<br />
						<br />
					</li>
					<li><strong><a href="Publications/keydemoresearchbriefsummer2018.pdf">Key Demographic and
								OrganizationalFactors in Predicting Healthy Families New York Home Visitor Retention <br />
							</a></strong>(Summer 2018)<br />
						<br />
					</li>
					<li><strong><a href="Publications/CoalitionCapacityChecklist2017.pdf">Coalition Capacity Checklist 2017
								Brief Summary: Partnership for Success – South Glens Falls School District</a></strong> <br />
						Thomas LaPorte (2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/UrbanScholarsBrief20172.pdf">Urban Scholars Brief 2017<br />
							</a></strong>Kenneth Robin,Psy.D.(November 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/CAPRIemployersurveyreport0917 (1).pdf">Employer Perspectives on
								Employment of Young Adults</a></strong> <br />
						Sarah Rain (September 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/ESPRICAPRIBest Practices 2017.pdf" target="_blank">Best Practices to
								Enhance the Employability of Opportunity Youth: A Synthesis of the Available
								Literature</a></strong> <br />
						(September 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/Civil Legal Needs booklet 2017_pages.pdf">The Civil Legal Needs of
								Victims of Crime in New York State: An Assessment of the Issues, Services,and Challenges in
								Meeting the Civil Legal Needs of Victims</a></strong> (June 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/MRT2017Utilization Report.pdf">Medicaid Redesign Team Supportative
								Housing Evaluation: Utilization Report 1</a></strong> (May 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/Albany County Report 2016_04_03_17.pdf">Albany County Report
								2016<br />
								<br />
							</a></strong></li>
					<li><strong><a href="Publications/Sustainability Report 9.20.16 final.pdf" target="_blank">NYS Success
								and Sustaining Systems of Care</a></strong> <br />
						Camille Barnes Ph.D.(Sept. 2016)<br />
						<br />
					</li>
					<li><strong><a href="Publications/HFNYFatherInvolvementFactSheetFinal 9.20.16.pdf"
								target="_blank">Understanding Fathers’ Participation in Home Visits<br />
							</a></strong>(Sept. 2016)<br />
						<br />
					</li>
					<li><strong><a href="Publications/2016Program Eval booklet_web.pdf" target="_blank">NYS Success Program
								Evaluation Booklet<br />
							</a></strong>(June 2016)<br />
						<br />
					</li>
					<li><a href="Publications/Kinship Needs Brief Elee Final.pdf" target="_blank"><strong>Kinship Final
								Brief</strong></a> <br />
						Eunju Lee, January 2016<br />
						<br />
					</li>
					<!--
	<li><strong><a href="Publications/NYS Success Research Brief-Youth Guided Care FINAL (2).pdf" target="_blank">NYS Success Research Brief: Youth Guided Care</a></strong> <br />
	Camille Barnes, Ph.D. &amp; Lauren Polvere, Ph.D.(August 2015)<br />
	<br />
	</li>
	<li><strong><a href="Publications/NYS Grandfamilies Housing Study FINAL REPORT_Mar 31 2015.pdf" target="_blank">NYS Grandfamilies Housing Study FINAL REPORT</a></strong><br />
	(March 2015)<br />
	<br />
	</li>
	-->

				</ul>

				<h3><a href="/archived_publications"><strong>Archived Reports (1991-2015)</strong></a></h3>

				<p><a href="#" target="_top">Back to top</a></p>

				<h2> <a name="presentations" id="presentations"></a>Presentations:</h2>
				<ul>
					<li><a href="Publications/Survey_Presentation_02.25.20.pdf" target="_blank"><strong>Survey Tips and
								Tricks: Considerations for Survey Design and Integration of Technology</strong><br />
						</a>Research Scientists, Margaret Gullick, Mandi Breen, and Camille Barnes presented at the University
						at Albany Downtown Campus. (March 2020)<br />
						<br />
					</li>
					<li><a href="https://www.ctacny.org/training/why-ypa-part-one" target="_blank"><strong>Community
								Training and Assistance Center (CTAC) webinar </strong><br />
						</a>Ruth Lindenfelser, LMSW, Senior Research Support Specialist, presented findings on Youth Peer
						Advocates involved with the NYS System of Care High Fidelity Wraparound Initiative. This was part one
						of a two part presentation. Part two included a panel of service providers and recipients who spoke to
						the impact of Youth Peer Advocates on youth, families and providers - (September 2019)<br />
						<br />
					</li>
					<li><strong>2019 New York State Families Together Conference </strong><br />
						Ruth Lindenfelser, LMSW, Senior Research Support Specialist, presented findings on Youth Peer
						Advocates as part of an evaluation of High Fidelity Wraparound within the NYS System of Care project.
						Ruth’s data presentation was followed by a panel of service recipients and providers who spoke to the
						impact of Youth Peer Advocates on youth, families and providers- (May 2019)<br />
						<br />
					</li>
					<li><a href="Publications/2SOCEvaluation2017.pdf" target="_blank"><strong>2017 System of Care
								Evaluation</strong><br />
						</a>Research Scientists, Camille Barnes, Thomas LaPorte and Jennifer Ciccone presented at Parson’s
						Child and Family Center with the project leadership team for the NYS System of Care project. (November
						2017)<br />
						<br />
					</li>
					<li><a href="Publications/2017ConferenceInformationPacketUPDATE.pdf" target="_blank"><strong>New York
								State Office of Victim Services
								2017 Conference: The Crime Victims Legal Network Project: Connecting Crime Victims to Civil Legal
								Assistance</strong><br />
						</a>Remla Parthasarathy, Project Lead - Crime Victims Legal Network; CHSR Research Scientist, Susan
						Ehrhard-Dietzel,Ph.D - University at Albany; Liz Keith, Program Director - Pro Bono Net (November
						2017)<br />
						<br />
					</li>
					<li><a href="Publications/capriBest Practices Presentation 071117 FINAL.pptx"
							target="_blank"><strong>Best Practices to Enhance the Employability of Young Adults: PowerPoint
								Presentation</strong><br />
						</a>Senior Research Support Specialist, Sarah Rain and Research Interviewer, Tyler Bellick presented
						at the The City of Albany’s Poverty Reduction Initiative Luncheon(July 2017)<br />
						<br />
					</li>
					<li><strong><a href="Publications/Presentation RBL for JJ Steering_for CHSR website.pdf"
								target="_blank">2016 Partnership for Youth Justice State Conference: Using Data to Drive
								Practice<br />
							</a></strong>Dr. Susan Ehrhard-Dietzel presented at The Partnership for Youth Justice in September
						2016 at the Partnership for Youth Justice State Conference in Syracuse NY.<br />
						<br />
					</li>

				</ul>

				<h3><a href="/archived_publications"><strong>Archived Presentations (1991-2015)</strong></a></h3>

				<p><a href="#" target="_top">Back to top</a></p>

			</div>
		</div>
          
	</main>
</BaseLayout>