---
// src/pages/index.astro
import BaseLayout from "../Layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Skills &amp; Expertise';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h2> SKILLS &AMP; EXPERTISE</h2>
			<div class="text-place">
				<p>
					Across topic areas, CHSR’s work can be categorized into three main types of activities:
				</p>
				<ul type="circle">
					<li style="font-size:14px;" class="purple">
						<span class="intro">
							<a href="#eval_research">Evaluation &amp; Research</a>
						</span>
					</li>
					<li style="font-size:14px;" class="purple">
						<span class="intro">
							<a href="#program_development">Program Development</a>
						</span>
					</li>
					<li style="font-size:14px;" class="purple">
						<span class="intro">
							<a href="#systems">Systems &amp; Software Development</a>
						</span>
					</li>
				</ul>
				<p>
					To learn more about our experience with any of these types of activities, please visit our
					<a class="paragraph-text-link" href="/project_areas">project archive</a>
					or <a class="paragraph-text-link" href="/contact_us">contact us</a>.
				</p>
				<div style="padding-bottom: 5px;">
				</div>
				<h2 id="eval_research"> EVALUATION &amp; RESEARCH</h2>

				<p>
					CHSR staff are skilled at designing evaluations and research studies using both qualitative and
					quantitative methods,
					and at conducting evaluation studies using primary and secondary data with a variety of research
					techniques. Frequent
					methods of data collection include phone, mail, and online surveys (programmed by our two
					Qualtrics-certified research
					experts); key informant interviews and focus groups; participant observation; use of administrative
					datasets; and use of
					existing programmatic data, including document reviews and data extraction. CHSR also has extensive
					expertise in
					quantitative and qualitative data analysis of large and small data sets using exploratory and advanced
					analysis
					techniques, including multivariate regressions, propensity score matching, network analyses, coding, and
					thematic
					analyses.
				</p>
				<p>
					Further, CHSR staff are skilled at providing useful feedback to key stakeholders and service providers,
					program
					administrators, policymakers, and the general public. CHSR produces comprehensive and topic-focused
					reports and research
					briefs, peer-reviewed publications, formal and informal presentations, and engaging and meaningful data
					visualizations
					that help to share project results and recommendations with all appropriate audiences
				</p>

				<p>&nbsp;</p>

				<h2 id="program_development"> PROGRAM DEVELOPMENT</h2>

				<p style="font-size:14px;">
					CHSR researchers and staff assist human service programs and government agencies in meeting the
					expectations of funders and the public. Our experienced team creates logic models; develops
					performance targets, indicators, and outcome measures that define and demonstrate progress and
					achievement; and works with organizations to prepare proposals and grant applications.
				</p>

				<p>&nbsp;</p>

				<h2 id="systems"> SYSTEMS &AMP; SOFTWARE DEVELOPMENT</h2>

				<p style="font-size:14px;">
					CHSR designs customized computer information solutions to meet the programmatic, administrative, and
					evaluation needs of
					human service providers and government agencies. Our information technology experts have experience in
					service delivery,
					enhancing our understanding of and commitment to human service initiatives. We develop easy-to-use
					Internet, intranet,
					and stand-alone applications. We produce timely, meaningful, and comprehensible output, including
					automated reports and
					<a class="paragraph-text-link" href="/dashboards">overview dashboards</a>. All of our systems
					comply with the strictest
					standards regarding
					confidentiality and data security. We also provide outstanding client service, in the form of live
					helpdesk support,
					application training, and ongoing client communication.
				</p>
				See also:
				<br />
				<a class="paragraph-text-link" href="/HFNYMIS">HOME VISITING MIS</a>
				<br />
				<a class="paragraph-text-link" href="/Pyramid">PYRAMID MIS</a>

			</div>
		</div>
	</main>
</BaseLayout>