---
// src/pages/index.astro
import BaseLayout from "../Layouts/BaseLayout.astro"
let title = 'Center for Human Services Research - University at Albany - SUNY - Staff';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>STAFF DIRECTORY</h1>
		</div>

	</main>
</BaseLayout>